body
{
        background-image: url(./image.png);
        background-repeat: no-repeat;
        background-position: middle;
        background-size: center;
        background-position-x: center;
    }
p{
    font-size: xx-large;
    color: rgb(9, 122, 221);
}
.home-div {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding-left: 1rem;
    margin-left: 0rem;  
}
a{
    text-decoration: underline;
    color: rgb(0, 1, 2);
}